<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Carrito
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Productos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row>
    <ion-col *ngFor="let item of products; let i = index ">
      <ion-list>
        <ion-item>
          <div *ngIf="item.quantity>0" style="margin: auto;">
            <ion-label>
              <div >
                <img [src]="item.photo" width="80px" height="80px"  />
              </div>
              <div style="text-align: center">
                {{item.name}}
              </div>
             
              <div>
                <ion-label>
                  <ion-label style="text-align: center;">
                    {{item.description}}
                  </ion-label>
                  <ion-chip color="success" outline="true" class="ion-float-left">
                    Cantidad: {{item.quantity}}
                  </ion-chip>
                  <ion-chip color="success" outline="true" class="ion-float-left">
                    Precio Unitario: {{item.price}}
                  </ion-chip>
                </ion-label>
              </div>
              <div>
                <ion-button expand="block" color="success" (click)="moreProduct(item,item.id)">
                  <ion-icon name="add-circle-outline"></ion-icon>
                </ion-button>
                <ion-button expand="block" color="danger" (click)="deleteProduct(item,item.id)">
                  <ion-icon name="remove-circle-outline"></ion-icon>
                </ion-button>
              </div>
            </ion-label>
          </div>
        </ion-item>

      </ion-list>
    </ion-col>

  </ion-row>
  <ion-label color="success">
    Total : {{c}} $
  </ion-label>
</ion-content>